@use "../../../sass/base" as *;

.desktop-mockup {
    background-color: #f2f2f2;

    &__design-asset {
        width: min(95%, 60rem);
        margin-inline: auto;
        display: block;
        height: auto;
    }
}
