@use "../../../sass/base" as *;

.desktop-mockup-section {
    padding-inline: 18%;
    padding-block: 8rem;

    position: relative;

    display: grid;
    place-items: center;

    background-color: rgba(black, 0.05);

    //700px
    @media screen and (max-width: 43.75rem) {
        padding-inline: $padding-lg;
    }
}
